rasa>=3.6.0,<3.7.0
rasa-sdk>=3.6.0,<3.7.0
scikit-learn>=1.0.0
numpy>=1.22.0
scipy>=1.8.0
tensorflow>=2.8.0,<2.9.0
protobuf
python-engineio>=3.13.1,<4.0.0
python-socketio>=4.6.0,<5.0.0
colorama
colorclass
terminaltables
sanic>=21.6.0,<22.0.0
sanic-cors>=2.0.0
sanic-routing>=0.7.2
requests>=2.25.1
matplotlib
attrs
jsonschema
packaging
pytz
rasa-core
typing-extensions
aiohttp>=3.6.2
questionary
python-dateutil
PyJWT>=2.0.0
cryptography>=3.4.0 