rasa
rasa-sdk
scikit-learn
numpy
scipy
tensorflow
protobuf
python-engineio
python-socketio
colorama
colorclass
terminaltables
sanic
sanic-cors
sanic-routing
requests
matplotlib
attrs
jsonschema
packaging
pytz
rasa-core
typing-extensions
aiohttp
questionary
python-dateutil
PyJWT
cryptography 